<!DOCTYPE html>


    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
    </head>
    
        <header th:replace="Layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Articulos Disponibles</h2>
        <div th:if="${Articulos != null and !Articulos.empty">
            <table border="1">
                <thead>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="item: ${Articulos}">
                        <td th:text="${item.descripcion}"></td>
                        <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                        <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo">Comprar</a></td>
                    </tr>
                </tbody>

            </table>
        </div>
        <div th:if="${Articulos == null or Articulos.empty">
            La lista de articulos esta vacia...
        </div>
        </div>
        <footer th:replace="Layout/plantilla :: Footer" />
    

