<html xmlns:th="http://www.timeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:replace="Layout/plantilla :: header"/>
        <h2>Datos del cliente</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <br/>
        <form th:action="@{/cliente/guardar}"
              method="POST"
              th:object="${cliente}">
            <input type="hidden" name="Idcliente" th:field="*{Idcliente}" />
            
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" th:fields="{nombre}"><br/>
            
            <label for="apellidos">Apellido:</label>
            <input type="text" id="apellidos" name="apellidos" th:fields="{apellidos}"><br/>
            
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" th:fields="{correo}"><br/>
            
            <label for="Telefono">Telefono:</label>
            <input type="tel" id="telefono" name="telefono" th:fields="{Telefono}"><br/>

            <input type="submit" name="Guardar" value="Guardar">

            
        </form>
        <footer th:replace="Layout/plantilla :: Footer" />
    </body>
</html>
